body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
}

fieldset label input {
  margin-left: 2rem;
}

.App {
  display: grid;
  grid: 1fr / 1fr 2fr;
}

.flexRows {
  display: flex;
  flex-direction: column;
}

.gridFieldset {
  display: grid;
  grid: 1fr / 1fr 1fr;
}